@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap")
h3{
    font-size: 30px;
}
h4{
    color : hsl(340, 57%, 64%);
    text-align: left;
}

ul{
    font-family: 'Nanum Pen Script', monospace;
}